allow untrusted_app rootfs:dir { open read };
allow untrusted_app rootfs:file { getattr };

allow untrusted_app persist_file:dir { getattr };

allow untrusted_app device:dir { open read };

allow untrusted_app block_device:dir { open read search };

allow untrusted_app vndservice_contexts_file:file { getattr };

allow untrusted_app hwservice_contexts_file:file { getattr };

allow untrusted_app service_contexts_file:file { getattr };

allow untrusted_app seapp_contexts_file:file { getattr };

allow untrusted_app nonplat_service_contexts_file:file { getattr };

allow untrusted_app file_contexts_file:file { getattr };

allow untrusted_app sepolicy_file:file { getattr };

allow untrusted_app mnt_media_rw_file:dir { getattr };

allow untrusted_app init_exec:file { getattr };

allow untrusted_app tombstone_data_file:dir { getattr };
