
allow untrusted_app audioserver_exec:file getattr;
allow untrusted_app incidentd_exec:file getattr;
allow untrusted_app userinit_exec:file getattr;

allow untrusted_app isolated_app_tmpfs:file write;

